{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "simple-import-sort",
    "prettier",
    "@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "no-console": "off",
    "no-unused-vars": "off", // do not use
    "prettier/prettier": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off", // 함수 자료형 검사
    "@typescript-eslint/no-empty-interface": "off", // 빈 인터페이스 검사
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-explicit-any": "off", // any 타입 검사
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ], // 미사용 변수
    "@typescript-eslint/no-var-requires": "off"
  }
}